*{
    box-sizing: border-box;
    margin: 0;
}
.block__row{ 
display:flex;	
justify-content: center;
align-items:center;
height: 100vh;
width: 100%;
}
.block__element{
margin: 10px;
}
.block__content{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.582);
    background-color: rgba(192, 192, 192, 0.836);
    border-radius: 10px;
    padding: 10px;
}
.points{
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: inset 0 0 7px 5px rgba(0, 0, 0, 0.733);
    border-radius: 50%;
    flex-shrink: 0;
}
.number-2{
    align-self: center;
}
.number-3{
    align-self: flex-end;
}

.number-5{
    align-self: center;
}
.block__content_point-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__content_point-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block__content_point-3{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.block__content_point-4{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block__content_point-5{
    display: flex;
    justify-content: space-between; 
}
.block__content_point-6{
    display: flex;
    justify-content: space-between;
}

.block__content:hover {
    animation-name: jump;
    animation-timing-function: ease;
    animation-duration: 2s;
}
@keyframes jump {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-150px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-10px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

